version: "2.4"

services:
  k8s-frontend:
    build:
      context: ./k8s-frontend
      dockerfile: Dockerfile
    container_name: k8s-frontend-container
    ports:
      - "3000:3000"
    volumes:
      - ./k8s-frontend:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_URL=http://192.168.0.205:8000
    depends_on:
      - k8s-backend

  k8s-backend:
   build: ./k8s-backend
   container_name: k8s-backend-container
   ports:
     - "8000:8000"
   volumes:
     - ./k8s-backend:/app
   environment:
     - OPENAI_API_KEY=${OPENAI_API_KEY}
     - K8S_API_BASE=http://192.168.0.205:8001
